.output{
  text-align: center;
  font-size: 200px;
  color: red;
}
body{
  background-image: url("https://i.ytimg.com/vi/y2gbMbzpaUk/maxresdefault.jpg");
  background-repeat: no-repeat;
}

.container{
  text-align: center;
}

h1{
  text-align: center;
}
label{
  width: 200px;
}
